* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif;
  background: hsl(218, 23%, 16%);
  display: -ms-grid;
  display: grid;
  place-items: center;
  min-height: 100vh;
  padding: 1rem;
  margin: 0;
}

.advice-card {
  width: min(100%, 31.25rem);
  background: hsl(217, 19%, 24%);
  border-radius: 1rem;
  padding: 3rem 1.5rem;
  text-align: center;
  position: relative;
}
.advice-card__heading {
  margin: 0 0 1.5rem;
  color: hsl(150, 100%, 66%);
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.advice-card__quote {
  color: hsl(193, 38%, 86%);
  font-size: calc(1.3rem + 0.6vw);
  margin-bottom: 1.5rem;
  display: block;
}
.advice-card__divider {
  display: block;
  margin-bottom: 0.5rem;
}
.advice-card__divider img {
  max-width: 100%;
}
.advice-card__btn {
  display: -ms-grid;
  display: grid;
  place-items: center;
  position: absolute;
  left: 50%;
  bottom: -32.5px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border: none;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background: hsl(150, 100%, 66%);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  cursor: pointer;
}
.advice-card__btn:hover {
  -webkit-box-shadow: rgba(82, 255, 168, 0.5) 0px 0px 29px 10px;
          box-shadow: rgba(82, 255, 168, 0.5) 0px 0px 29px 10px;
}